.card {
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
}

.splash-img {
	height: 250px;
	width: 250px;
}

.spot-price {
	font-weight: bold;
}

.rating {
	font-weight: bold;
}

.row-one {
	display: flex;
	justify-content: space-between;
}
