.spot-images {
	display: grid;
	grid-template-columns: 500px 250px 250px;
	grid-template-rows: 1fr 1fr;
	grid-template-areas:
	"preview image-1 image-2"
	"preview image-3 image-4";
}

.image-0 {
	grid-area: preview;
	height: 500px;
	width: 500px;
}

.image-1 {
	grid-area: image-1;
	height: 250px;
	width: 250px;
}

.image-2 {
	grid-area: image-2;
	height: 250px;
	width: 250px;
}

.image-3 {
	grid-area: image-3;
	height: 250px;
	width: 250px;
}

.image-4 {
	grid-area: image-4;
	height: 250px;
	width: 250px;
}
